<header class="page-header mb-4">
  <h1>About Us</h1>
</header>

<p>At our online plant shop, we are passionate about bringing nature into your home. We believe that plants not only add beauty to your space but also improve your overall well-being. That's why we're dedicated to providing you with the highest quality plants and accessories to help you create your own little slice of paradise.</p>

<h4 class="mt-5">Why Choose Us:</h4>
<ul>
  <li>
    Quality Assurance: We source our plants from reputable growers and nurseries to ensure that you receive healthy and vibrant plants every time.
  </li>
  <li>
    Easy Ordering: Ordering from us is quick and hassle-free. Simply browse our website, select your desired plants, and check out in just a few clicks.
  </li>
  <li>
    Affordable Prices: We believe that everyone should have access to beautiful plants, which is why we offer competitive prices and even free shipping on orders over $50.
    </li>
</ul>
<h4 class="mt-5">Our Products:</h4>
<p>Explore our wide range of plants and accessories to find the perfect additions to your home or garden. From exotic palms to colorful flowers, we have something for every taste and style. Plus, don't forget to check out our selection of pots, soil, and watering cans to complete your gardening experience.</p>

<p>So why wait? Start shopping now and bring the beauty of nature into your life with The Jungle!</p>